server:
  port: 8080
  servlet:
    context-path: /customers-service

spring:
  application:
    name: customers-service
  threads:
    virtual:
      enabled: true

  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 25
      minimum-idle: 25
      connection-timeout: 5000
      max-lifetime: 600000
      pool-name: HikariPool-Customer-API

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc.batch_size: 50
        order_inserts: true
        order_updates: true
        default_batch_fetch_size: 50

  flyway:
    locations: classpath:db/migration