spring:
  datasource:
    url: ${POSTGRES_DB_URL:jdbc:postgresql://localhost:5432/customers?reWriteBatchedInserts=true}
    username: ${POSTGRES_DB_USER:customers_db_user}
    password: ${POSTGRES_DB_PASS:customers_db_pass}

  jpa:
    properties:
      hibernate:
        generate_statistics: false

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.engine.jdbc.batch.internal.BatchingBatch: DEBUG